body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: darkslateblue;
  height: 100vh;
  overflow: hidden;
  color: white;
}

body main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

body main section {
  display: flex;
  width: 500px;
  height: 750px;
  border: 1px solid white;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
